<header class="main-header px-5">
    <nav class="navbar navbar-expand-lg px-5">
        <div class="container-fluid">
            <a class="navbar-brand mr-auto" href="#"><img src="assets/images/logo.png" alt="logo-img" class="logo-img"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse align-items-center justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="header-menu px-2">Products</a>
                    <a class="header-menu px-2">Solutions</a>
                    <a class="header-menu px-2">Pricing</a>
                    <div class="btn-group">
                        <button class="btn-theme-rounded">Login</button>
                        <button class="btn-theme-rounded">Get Started</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="row g-5 justify-content-center align-items-center p-5">
        <div class="col-6">
            <h3 class="header-title w-50">We make it Super Simple</h3>
            <p class="header-badge"></p>
            <img src="assets/images/collect_img-video.png" alt="collect-img" class="collect-img mt-3">
        </div>
        <div class="col-6">
            <img src="assets/images/Group 6.svg" alt="group-6" class="calculator-img">
        </div>
    </div> 
</header>
<section>
    <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-7 p-0">
            <div class="row justify-content-center align-items-center">
              <div class="col-8 col-sm-6">
                <div class=" first-card">
                    <img src="assets/images/Get Paid Instantly.png" alt="paid-instant" class="max-w-65 mt-3">
                    <p class="fs14 my-2">Quick cash disbursement</p>
                    <small class="card-info">Get terms loans that your business needs within 72 hrs</small>
                </div>
                <div class=" second-card">
                    <img src="assets/images/Low interest rate.png" alt="low-interest" class="max-w-65 mt-3">
                    <p class="fs14 my-2">Low-interest rate</p>
                    <small class="card-info">Achieve your financial goals with an amazing interest rate starting at 13% per annum</small>
                </div>
                <div class=" third-card">
                    <img src="assets/images/Secure Payments.png" alt="secure-payment" class="max-w-65 mt-3">
                    <p class="fs14 my-2">Zero Paperwork</p>
                    <small class="card-info">Get started instantly by submitting only your basic details & bank statements</small>
                </div>
              </div>
              <div class="col-4 col-sm-6">
                <div class=" fourth-card">
                    <img src="assets/images/freelancer_feature_icon_6@1.5x.png" alt="freelauncer" class="max-w-65 mt-3">
                    <p class="fs14 my-2 text-white">Ace your business finances</p>
                    <small class="text-white fs10">Manage banking, accounting & everything in between, on one platform</small>
                </div>
                <div class=" fifth-card">
                    <img src="assets/images/Covid.png" alt="covid" class="max-w-65 mt-3">
                    <p class="fs14 my-2">Loans to fight COVID-19</p>
                    <small class="card-info">Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <h3 class="header-title mb-4 w-70">Boost your business with Open</h3>
            <p class="content-badge mt-1"></p>
            <small class="content-info">Get your hands on a term loan that’s crafted for your business</small>
            <button class="btn-theme-rounded account-btn my-3">Get an Open Account</button>
          </div>
        </div>
      </div>
</section>